# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.env

# IDE
.vscode/
.idea/

# Alembic
alembic/versions/*.py

# Database
*.db
*.sqlite

# Logs
*.log

# Mac
.DS_Store

